.footer-content {
    padding: 50px 90px 50px 90px;
    color: white;
    background-color: #343434;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer-social-content p a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-social-content {
    text-align: center;
  }
  .footer-list-items {
    line-height: 35px;
  }
  .footer-bar-logo {
    text-align: center;
  }
  .footer-bar-logo img {
    width: 55%;
  }
  footer {
    background: #595959;
    text-align: center;
    padding: 15px;
    color: white;
  }