<div id="chitids-component">
	<div class="row">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
			<div class="row">
				<div class="col-lg-12">
					<h3>Manage Chitids</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<table class="table table-striped">
					    <thead>
					      <tr>
					        <th>#</th>
					        <th>Chit Id</th>
					        <th>Branch Name</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <th scope="row">1</th>
					        <td>SS003421</td>
					        <td>Madhapur</td>
					      </tr>
					      <tr>
					        <th scope="row">2</th>
					        <td>SS003422</td>
					        <td>Kukatpally</td>
					      </tr>
					      <tr>
					        <th scope="row">3</th>
					        <td>SS003423</td>
					        <td>Ameerpet</td>
					      </tr>
					    </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>