  .main-content-heading {
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .main-content-heading h3 {
    font-size: 35px;
  }
  .main-content-heading  p {
    font-size: 19px;
  }
  .about-title {
    color: #FF4537;
  }
  .about-context {
    padding-top: 20px;
    padding-bottom: 40px;
  }