<section class="home-content">
    <div class="main-content-image">
        <div class="container">
            <div class="col-md-5 main-content-heading">
                <h3><b>About Us</b></h3>
                <p>Simple Hack to Increase Your Monthly Recurring Revenue</p>
            </div>
        </div>
    </div>
    <div class="container about-context">
        <div class="about-title"><h4>About Us:</h4></div>
        <div class="row">
        	<div class="col-md-12"><p>
        		Chit funds operate in different ways, and this may lead to many fraudulent tactics practised by private firms. The basic necessity of conducting a 'chitty' is a group of needy people called subscribers. The foreman the company or person conducting the chitty brings these people together and conducts the chitty.
        	</p></div>
        </div>
        <div class="row">
        	<div class="col-md-8">
        	<p>
        	The foreman is also responsible for collecting the money from subscribers, presiding over the auctions, and keeping subscriber records. He is compensated by a fixed amount (generally 5% of the gross chitty amount) monthly for his efforts. Other than that, the foreman has no specific privileges, he is just a chitty subscriber. A simple formula depicts the pattern of the chitty:Monthly premium and times; duration in months = gross amount.
			E.g., 1000 * 50 = 50,000/- Where 1000 is the maximum monthly contribution needed from a subscriber, 50 is the duration of the chitty in months and 50,000 is the maximum sum assured. The duration also equals the number of subscribers, as there must be (not more or less) one subscriber to receive the prize money every month.
			The chitty starts on an announced date, and every subscriber comes together for the auction/lot. As per the Kerala chit act, the minimum prize money of an auction is limited to 70% of the gross sum assured; that is 35,000 in the above example. When more than one person are willing to take this minimum sum, lots are conducted and the 'lucky subscriber' gets the prize money for the month. If there is no person willing to take the minimum sum, then a reverse auction is conducted where subscribers open-bid for lower amounts; that is from 50,000 >> 49,000 >> 48,000, and so on. The person bidding the lowest sum will get the bid amount.
        	</p>
        	</div>
        	<div class="col-md-4">
        		<div class="embed-responsive embed-responsive-16by9">
             		<iframe width="100%" height= "325px" src="https://www.youtube.com/embed/fpxBxp9QKrk" frameborder="0" gesture="media" allowfullscreen></iframe>
          		</div>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12"><p>
        		In both the cases the auction discount, that is the difference between the gross sum and auction amount, is equally distributed among subscribers or is deducted from their monthly premium.
        	</p></div>
        </div>
        <div class="row">
        	<div class="col-md-12"><p>
        		In North India, a common type of chit fund uses small paper slips with each members name, gathered in a box. When all members are at a monthly or weekly meeting, the one in charge — in front of the other members — picks a slip from the box. The member so selected gets that day's collection.
        	</p></div>
        </div>
        <div class="row">
        	<div class="col-md-12"><p>
        		Such chit fund schemes may be conducted by organised financial institutions, or may be unorganised schemes conducted between friends or relatives. In some variations of chit funds, the savings are for a specific purpose. Chit funds also played an important role in the financial development of people of south Indian state of Kerala, by providing easier access to credit. In Kerala, chitty (chit fund) is a common phenomenon practiced by all sections of the society. A company named Kerala State Financial Enterprise exists under the Kerala State Government, whose main business activity is the chitty.Chit fund concept came into the eyes of people in 1800's when Raja Rama Varma, ruler of erstwhile Cochin state gave a loan to a Syrian Christian trader, by keeping a certain portion of it to himself for other expenses and later he drew that money for the principle of equity
        	</p></div>
        </div>
    </div>
</section>