<div id="users-component">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="row">
        <div class="col-lg-12">
          <h3>Manage Users</h3>
        </div>
        <div class="col-lg-12">
        	<ag-grid-angular style="width: 802px; height: 300px;" class="ag-fresh"
				    	#agGrid
				    	id="myGrid"
				    	class="ag-fresh"
				    	[gridOptions]="gridOptions"
				    	[rowData]="rowData"
					    [columnDefs]="columnDefs"
					    [editType]="editType"
				    	enableColResize
				    	enableSorting
				    	enableFilter
				    	groupHeaders
				    	(gridReady)="onReady($event)"
				    ></ag-grid-angular>
        </div>
      </div>
  </div>
</div>
</div>