#users-component {
	margin-top: 75px;

	h3 {
		color: #FF6072;
		margin-bottom: 20px;
	}
}
.ag-bl-normal-center-row {
    min-height: 500px !important;
}
.ag-bl-normal-center {
    width: 1300px !important;
}
.ag-fresh .ag-body {
    background-color: white;
}
.ag-fresh .ag-header-cell {
    padding-top: 12px !important;
    background: white;
}
.ag-fresh .ag-ltr .ag-header-cell {
    border-right: none !important;
}
.ag-fresh .ag-header {
    font-weight: bold !important;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
.ag-fresh .ag-root {
    border: none !important;
}
.ag-fresh .ag-row-odd {
    background-color: white;
}
.ag-fresh .ag-cell-not-inline-editing {
    padding-top: 10px !important;
}
.ag-fresh .ag-row-selected {
    background: #E0E7EF;
}
.ag-icon-checkbox-indeterminate {
    width: 45px !important;
}
.ag-icon-checkbox-unchecked {
    width: 45px !important;
}
.ag-icon-checkbox-checked {
    width: 45px !important;
}
.ag-fresh .ag-ltr .ag-cell-no-focus {
    border-right: none !important;
    border-bottom: 1px dotted silver;
}
.ag-fresh .ag-header {
    color: white !important;
    background: #ff413ed9 !important;
}
.ag-header {
    color: white !important;
    background: #ff413ed9 !important;
}