<section class="home-content">
         <div class="main-content-image">
            <div class="container">
               <div class="col-md-5 main-content-heading">
                  <h3><b>Login</b></h3>
                  <p>Simple Hack to Increase Your Monthly Recurring Revenue</p>
               </div>
            </div>
         </div>
         <div class="container login-context">
         <div class="row">
            <h4></h4>
         </div>
         <div class="row">
            <h4 class="login-title">Login :</h4>
         </div>
         <div class="row">
            <div class="col-md-8">
               <div class="form-group">
                  <label class="control-label col-sm-3" for="newname">Username/Email:</label>
                  <div class="col-sm-8">
                     <input type="text" class="form-control" id="newname" name="newname">
                  </div>
               </div>
            </div>
            <div class="col-md-4 login-button-styles">
               <button class="btn login-btns" type="submit">Join a Chit</button>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8">
               <div class="form-group">
                  <label class="control-label col-sm-3" for="registername">Username/Email:</label>
                  <div class="col-sm-8">
                     <input type="text" class="form-control" id="registername" name="registername">
                  </div>
               </div>
            </div>
            <div class="col-md-4 login-button-styles">
               <button class="btn login-btns" type="submit">Register</button>
            </div>
         </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 login-button-styles">
               <button class="btn login-button" type="submit">Login</button>
               <span class="forgot-pwd-text"><a href="#">Forgot password?</a></span>
            </div>
         </div>
     </div>
</section>