.main-content-image {
    background-image: url("assets/images/chit-funds.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .main-content-heading {
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .main-content-heading h3 {
    font-size: 35px;
  }
  .main-content-heading  p {
    font-size: 19px;
  }
  .main-contact-context {
    padding-top: 20px;
  }
  .contact-title {
    color: #FF4537;
  }
  .contact-address {
    color: #FF4537;
  }
  .contact-button {
    text-align: center;
  }
  .btn-contact {
    background-color: #FF4537;
    color: white;
  }
  .contact-address-section {
    margin-top: 10%;
  }