<section class="home-content">
    <div class="main-content-image">
        <div class="container">
            <div class="col-md-5 main-content-heading">
                <h3><b>Contact Us</b></h3>
                <p>Simple Hack to Increase Your Monthly Recurring Revenue</p>
            </div>
        </div>
    </div>
    <div class="container main-contact-context">
        <div class="col-md-5">
        	<div class="contact-title"><h4>Contact Us:</h4></div>
            <div class="row" ng-show="showLoginMsg">
                 <div class="col-lg-12">
                    <div *ngIf="showContactMsg" [ngClass]="(alertClass =='error')?'alert alert-danger':'alert alert-success'">
                       {{showContactMsg}}
                    </div>
                 </div>
            </div>
        	<form class="form-horizontal" (ngSubmit)="submitForm()" [formGroup]="contactForm">
			  <div class="form-group" [ngClass]="displayFieldCss('name')">
			    <label class="control-label col-sm-3" for="name">Name:</label>
			    <div class="col-sm-9">
			      <input type="text" class="form-control" id="name" [(ngModel)]="user.firstName" formControlName="name">
                <app-field-error-display 
                          [displayError]="isFieldValid('name')" 
                          errorMsg="Please inform your first name">
                        </app-field-error-display>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-3" for="email">Email:</label>
			    <div class="col-sm-9"> 
			      <input type="email" class="form-control" id="email">
			    </div>
			  </div>
			  <div class="form-group" [ngClass]="displayFieldCss('mobileNumber')">
			    <label class="control-label col-sm-3" for="mobileNumber">Phone:</label>
			    <div class="col-sm-9"> 
			      <input type="text" class="form-control" id="mobileNumber" [(ngModel)]="user.mobileNumber" formControlName="mobileNumber">
                  <app-field-error-display 
                        [displayError]="isFieldValid('mobileNumber')" 
                        errorMsg="Please inform your mobile number">
                    </app-field-error-display>
			    </div>
			  </div>
			  <div class="form-group" [ngClass]="displayFieldCss('comments')">
			    <label class="control-label col-sm-3" for="comments">Comments:</label>
			    <div class="col-sm-9"> 
			      <textarea class="form-control" rows="5" id="comments" [(ngModel)]="user.comments" formControlName="comments"></textarea>
                  <app-field-error-display 
                        [displayError]="isFieldValid('comments')" 
                        errorMsg="Please inform your comments">
                  </app-field-error-display>
			    </div>
			  </div>
			  <div class="form-group"> 
			    <div class="col-sm-offset-2 col-sm-10 contact-button">
			      <button type="submit" class="btn btn-contact">Submit</button>
			    </div>
			  </div>
			</form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 contact-address-section">
        	<div class="row">
        		<div class="col-md-6">
        			<h4 class="contact-address">Corporate Office:</h4>
        			<p>Reg-Off-11223</p>
        			<p>Plot no-2-3-1A</p>
        			<p>Madhapur</p>
        			<p>Hitech-City</p>
        			<p>Hyderabad</p>
        		</div>
        		<div class="col-md-6">
        			<h4 class="contact-address">Corporate Office:</h4>
        			<p>Reg-Off-11223</p>
        			<p>Plot no-2-3-1A</p>
        			<p>Madhapur</p>
        			<p>Hitech-City</p>
        			<p>Hyderabad</p>
        		</div>
        	</div>
        </div>
    </div>
</section>