.profile-content {
    padding: 40px;
    // background: #dcdcda;
    background: #f1e2cf;
  }
  .container {
    background: white;
    min-height: 450px;
    padding: 40px;
    border-radius: 15px;
  }
  .profile-title {
    color: #FF4537;
    background: #edeaea;
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    padding-bottom: 40px;
  }
  .btn-create {
    border-radius: 0;
    background-color: #FF4537;
    vertical-align: super;
    color: white;
    margin-bottom: 30px;
    padding: 15px 25px 15px 25px;
  }
  .row-center {
    text-align: center;
  }