<section class="home-content">
    <div class="main-content-image">
        <div class="container">
            <div class="col-md-5 main-content-heading">
                <h3><b>Registration</b></h3>
                <p>Simple Hack to Increase Your Monthly Recurring Revenue</p>
            </div>
        </div>
    </div>
    <div class="container join-context">
        <div class="row"><h4></h4></div>
        <div class="row row-center"><h4 class="join-title">Registration</h4></div>
            <!-- <form [formGroup]="registrationForm" (ngSubmit)="submitForm(registrationForm.value)"> -->
              <div class="row" ng-show="showLoginMsg">
                 <div class="col-lg-12">
                    <div *ngIf="showRegistraionMsg" [ngClass]="(alertClass =='error')?'alert alert-danger':'alert alert-success'">
                       {{showRegistraionMsg}}
                    </div>
                 </div>
              </div>
            <form (ngSubmit)="submitForm()" [formGroup]="registrationForm">
            <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                    <div [ngClass]="displayFieldCss('name')">
                      <label class="control-label required col-sm-3" for="fname">First Name:</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" placeholder="First Name" name="name" [(ngModel)]="user.firstName" formControlName="name">
                        <app-field-error-display 
                          [displayError]="isFieldValid('name')" 
                          errorMsg="Please inform your first name">
                        </app-field-error-display>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                    <div [ngClass]="displayFieldCss('lname')">
                      <label class="control-label required col-sm-3" for="lname">Last Name:</label>
                      <div class="col-sm-9">
                          <input class="form-control" type="text" placeholder="Last Name" name="lname" [(ngModel)]="user.lastName" formControlName="lname">
                        <app-field-error-display 
                        [displayError]="isFieldValid('lname')" 
                        errorMsg="Please inform your last name">
                        </app-field-error-display>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="displayFieldCss('email')">
                      <label class="control-label required col-sm-3" for="email">Email:</label>
                      <div class="col-sm-9">          
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" formControlName="email" placeholder="Email">
                        <app-field-error-display 
                        [displayError]="isFieldValid('email')" 
                        errorMsg="Please inform your email">
                        </app-field-error-display>
                        </div>
                      </div>
                  <div class="form-group" [ngClass]="displayFieldCss('mobileNumber')">
                      <label class="control-label required col-sm-3" for="mobileNumber">Mobile Number:</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeHolder="Mobile" name="mobileNumber" [(ngModel)]="user.mobileNumber" formControlName="mobileNumber">
                        <app-field-error-display 
                        [displayError]="isFieldValid('mobileNumber')" 
                        errorMsg="Please inform your mobile number">
                        </app-field-error-display>
                      </div>
                  </div>
                  <div class="form-group">
                    <div [ngClass]="displayFieldCss('password')">
                      <label class="control-label required col-sm-3" for="password">Password:</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" formControlName="password">
                        <app-field-error-display 
                          [displayError]="isFieldValid('password')" 
                          errorMsg="Please inform your password">
                        </app-field-error-display>
                      </div>
                  </div>
                </div>
                  <div class="form-group" [ngClass]="displayFieldCss('dob')">
                      <label class="control-label required col-sm-3" for="dob">DOB:</label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control" placeHolder="Date of Birth" name="dob" [(ngModel)]="user.dob" formControlName="dob" id="datePicker">
                        <app-field-error-display 
                        [displayError]="isFieldValid('dob')" 
                        errorMsg="Please inform your date of birth">
                        </app-field-error-display>
                      </div>
                  </div>
                    
                    <div class="form-group" [ngClass]="displayFieldCss('address')">
                      <label class="control-label required col-sm-3" for="address">Address Line1:</label>
                      <div class="col-sm-9">          
                        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="user.address" formControlName="address" placeholder="Address">
                        <app-field-error-display 
                        [displayError]="isFieldValid('address')" 
                        errorMsg="Please inform your address">
                        </app-field-error-display>
                        </div>
                      </div>
                      <div class="form-group" [ngClass]="displayFieldCss('address2')">
                        <label class="control-label required col-sm-3" for="address2">Address Line2:</label>
                        <div class="col-sm-9">          
                          <input type="text" class="form-control" id="address2" name="address2" [(ngModel)]="user.address2" formControlName="address2" placeholder="Address">
                          <app-field-error-display 
                          [displayError]="isFieldValid('address2')" 
                          errorMsg="Please inform your address2">
                          </app-field-error-display>
                          </div>
                      </div>
              </div>
              <div class="col-sm-6">
                    
                    <div class="form-group">
                        <div [ngClass]="displayFieldCss('city')">
                          <label class="control-label required col-sm-3" for="city">City:</label>
                          <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="City" name="city" [(ngModel)]="user.city" formControlName="city">
                            <app-field-error-display 
                              [displayError]="isFieldValid('city')" 
                              errorMsg="Please inform your city">
                            </app-field-error-display>
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <div [ngClass]="displayFieldCss('state')">
                          <label class="control-label required col-sm-3" for="state">State:</label>
                          <div class="col-sm-9">
                            <select class="form-control" id="state" name="state"  name="state" [(ngModel)]="user.state" formControlName="state">
                              <option value="0" selected="true">Select State</option>
                              <option value="aadhar">Andhra Pradesh</option>
                              <option value="pancard">Telangana</option>
                            </select>
                            <app-field-error-display 
                              [displayError]="isFieldValid('state')" 
                              errorMsg="Please inform your state">
                            </app-field-error-display>
                          </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <div [ngClass]="displayFieldCss('pincode')">
                          <label class="control-label required col-sm-3" for="pincode">Pincode:</label>
                          <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="Pincode" name="pincode" [(ngModel)]="user.pincode" formControlName="pincode">
                            <app-field-error-display 
                              [displayError]="isFieldValid('pincode')" 
                              errorMsg="Please inform your pincode">
                            </app-field-error-display>
                          </div>
                      </div>
                    </div>

                      <div class="form-group" [ngClass]="displayFieldCss('IdType')">
                        <label class="control-label required col-sm-3" for="id">Select ID Type:</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="id" name="id"  name="IdType" [(ngModel)]="user.IdType" formControlName="IdType">
                            <option value="0" selected="true">ID Type</option>
                            <option value="Aadhar Card">Aadhar Card</option>
                            <option value="PAN Card">PAN Card</option>
                          </select>
                          <app-field-error-display 
                          [displayError]="isFieldValid('IdType')" 
                          errorMsg="Please select IdType">
                          </app-field-error-display>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="displayFieldCss('idNumber')">
                      <label class="control-label required col-sm-3" for="idNumber">ID Number:</label>
                      <div class="col-sm-9">          
                        <input type="text" class="form-control" id="idNumber" name="idNumber" [(ngModel)]="user.IdNumber" formControlName="idNumber" placeholder="ID Number">
                        <app-field-error-display 
                        [displayError]="isFieldValid('idNumber')" 
                        errorMsg="Please inform your idNumber">
                        </app-field-error-display>
                      </div>
                    </div>
              </div>
            </div>
            <div class="row row-center">
                <button class="btn btn-create" type="submit" >Create Account</button>
            </div>
        </form>
    </div>
</section>