.main-content-image {
    background-image: url("assets/images/chit-funds.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .main-content-heading {
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .main-content-heading h3 {
    font-size: 35px;
  }
  .main-content-heading  p {
    font-size: 19px;
  }
.join-context {
    border: 1px solid #ccc;
    border-radius: 45px;
    margin-top: -60px;
    background: white;
    margin-bottom: 100px;
  }
  .join-title {
    color: #FF4537;
    font-weight: bold;
    margin-top: -15px;
    padding-bottom: 40px;
  }
  .form-group {
    padding-bottom: 60px;
  }
  .btn-create {
    border-radius: 0;
    background-color: #FF4537;
    vertical-align: super;
    color: white;
    margin-bottom: 30px;
    padding: 15px 25px 15px 25px;
  }
  .row-center {
    text-align: center;
  }
  