<section class="home-content">
            <div class="main-content-image">
                <div class="container">
                    <div class="col-md-5 main-content-heading">
                        <h3><b>Registration</b></h3>
                        <p>Simple Hack to Increase Your Monthly Recurring Revenue</p>
                    </div>
                </div>
            </div>
            <div class="container join-context">
                <div class="row"><h4></h4></div>
                <div class="row row-center"><h4 class="join-title">Registration</h4></div>
                <div class="row">
                   <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="fname">First Name:</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="fname" name="fname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="dob">Date of Birth:</label>
                        <div class="col-sm-9">          
                          <input type="text" class="form-control" id="dob" name="dob">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="phone">Mobile Number:</label>
                        <div class="col-sm-9">          
                          <input type="text" class="form-control" id="phone" name="phone">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="id">ID Type:</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="id" name="id">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="lname">Last Name:</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="lname" name="lname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">          
                          <input type="email" class="form-control" id="email" name="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="address">Address:</label>
                        <div class="col-sm-9">          
                          <input type="text" class="form-control" id="address" name="address">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="idNumber">ID Number:</label>
                        <div class="col-sm-9">          
                          <input type="text" class="form-control" id="idNumber" name="idNumber">
                        </div>
                      </div>
                   </div>
                </div>
                <div class="row row-center">
                   <button class="btn btn-create" type="submit"
                    (click)="btnClickRegister()" >
                  Create Account</button>
                </div>
            </div>
      </section>