<section class="container-fluid chits-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row chits-title"><h4>My Chits</h4></div>
			</div>
			<div class="col-lg-12" style="overflow-x:auto;">
				<div *ngIf='chitsData.length'>
					<div class="">
						<table class="table table-bordered">
							<thead>
					            <tr>
					              <th scope="col">S.no</th>
					              <th scope="col">Chit Id</th>
					              <th scope="col">Chit Value</th>
					              <th scope="col">Sub Fee</th>
					              <th scope="col">Tenure</th>
					              <th scope="col">Status</th>
					            </tr>
					          </thead>
					          <tbody>
					            <tr *ngFor="let data of chitsData; let row_no = index">
					              	<th scope="row">{{row_no + 1}}</th>
					              	<td>{{data.chit.chitid.chitid}}</td>
						            <td>{{data.chit.chitvalue}}</td>
						            <td>{{data.chit.subfee}}</td>
						            <td>{{data.chit.tenure}}</td>
						            <td><span *ngIf="data.chitstatus == '0'">Approval in Pending</span><span *ngIf="data.chitstatus == '1'">Approved</span></td>
					            </tr>
					          </tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div *ngIf='showNoChitsText'>
					<div class="join-context groups-section">
						<h3>{{showNoChitsText}}<a [routerLink]="['/user/group']" *ngIf="noActiveChits">Groups</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>