<section class="home-content">
    <div class="chits" *ngIf='!chitsData.length'>
        <h1>No Chits to show</h1>
    </div>
    <div *ngIf='chitsData.length'>
        <div class="container join-context groups-section">
            	<table class="table table-hover">
				    <thead>
				        <tr>
				            <td>S.no</td>
				            <td>Chit Value</td>
				            <td>Status</td>
				        </tr>
				    </thead>
				    <tbody>
				        <tr *ngFor="let data of chitsData; let row_no = index">
				            <td>{{row_no + 1}}</td>
				            <td>{{data.chit.chitvalue}}</td>
				            <td>
				            	<span *ngIf="data.chitstatus == false">
				            		<a>Pay Now</a>
				            	</span>
				            	<span *ngIf="data.chitstatus == true">
				            		<a>Receipt</a>
				            	</span>
				            </td>
				        </tr>
				    </tbody>
				</table>
            </div>
    </div>
</section>