<div id="chits-component">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="row">
        <div class="col-lg-12">
          <h3>Manage Chits</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Chit Value</th>
                  <th>Tenure</th>
                  <th>Sub Fee</th>
                  <th>Branch</th>
                  <th>Chit Id</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>5,00,000</td>
                  <td>25</td>
                  <td>2000</td>
                  <td>Madhapur</td>
                  <td>SS003421</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>10,00,000</td>
                  <td>45</td>
                  <td>8000</td>
                  <td>Kukatpally</td>
                  <td>SS003422</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>20,00,000</td>
                  <td>30</td>
                  <td>7000</td>
                  <td>Ameerpet</td>
                  <td>SS003423</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>