.main-content-image {
    background-image: url("./images/chit-funds.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  /*====================================
  Loader styles
  ====================================*/
  .tootlbar-icon {
  padding: 0 14px;
}

.tootlbar-spacer {
  flex: 1 1 auto;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6b6969cc;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: white;
  text-shadow: none;
  background-color: white;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: #ccc 1.5em 0 0 0, #ccc 1.1em 1.1em 0 0, #ccc 0 1.5em 0 0, #ccc -1.1em 1.1em 0 0, #ccc -1.5em 0 0 0, #ccc -1.1em -1.1em 0 0, #ddd 0 -1.5em 0 0, #ccc 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal {
  z-index: 200;

  &.modal-large .modal-card {
    min-height: 75vh;
    min-width: 95vw;
  }
}
.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(10, 10, 10, 0.86); }

.modal-content,
.modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%; }
  @media screen and (min-width: 769px), print {
    .modal-content,
    .modal-card {
      margin: 0 auto;
      max-height: calc(100vh - 40px);
      width: 640px; } }

.modal-close {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
  background: none;
  height: 40px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px; }
  .modal-close:before, .modal-close:after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center; }
  .modal-close:before {
    height: 2px;
    width: 50%; }
  .modal-close:after {
    height: 50%;
    width: 2px; }
  .modal-close:hover, .modal-close:focus {
    background-color: rgba(10, 10, 10, 0.3); }
  .modal-close:active {
    background-color: rgba(10, 10, 10, 0.4); }
  .modal-close.is-small {
    height: 16px;
    width: 16px; }
  .modal-close.is-medium {
    height: 24px;
    width: 24px; }
  .modal-close.is-large {
    height: 32px;
    width: 32px; }

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  width: 70vw; }

.modal-card-head,
.modal-card-foot {
  align-items: center;
  background-color: #EBEBEB;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative; }

.modal-card-head {
  border-bottom: 1px solid gainsboro;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.modal-card-title {
  color: #353535;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 1; }

.modal-card-foot {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid gainsboro; }
  .modal-card-foot .button:not(:last-child) {
    margin-right: 10px; }

.modal-card-body {
  -webkit-overflow-scrolling: touch;
  background-color: white;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 20px; }

.modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 20; }
  .modal.is-active {
    display: flex; }

.delete {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px; }
  .delete:before, .delete:after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center; }
  .delete:before {
    height: 2px;
    width: 50%; }
  .delete:after {
    height: 50%;
    width: 2px; }
  .delete:hover, .delete:focus {
    background-color: rgba(10, 10, 10, 0.3); }
  .delete:active {
    background-color: rgba(10, 10, 10, 0.4); }
  .delete.is-small {
    height: 16px;
    width: 16px; }
  .delete.is-medium {
    height: 24px;
    width: 24px; }
  .delete.is-large {
    height: 32px;
    width: 32px; }

/**
Fix for IE where modal's arent centered, targets IE10 + 11
*/
@media screen and (-ms-high-constract: active), screen and (-ms-high-contrast: none) {
  .modal-content, .modal-card {
    margin: 0;
  }
}

/**
Fix for ngx-datatable when a footer is present, for any version of Firefox
*/
@-moz-document url-prefix() {
  .has-overflow-y .visible {
    overflow-y: auto;
  }
}
/**
Fix for ngx-datatable when a footer is present, for IE10/11
*/
@media screen and (-ms-high-constract: active), screen and (-ms-high-contrast: none) {
  .has-overflow-y .visible {
    overflow-y : inherit;
  }
/*=====================================
  media Qwueries
  =====================================*/

  @media screen and (max-width: 699px) and (min-width: 375px) {
    .footer-content {
        padding: 0px !important;
    }
    .main-content-heading {
      color: white !important;
      padding-top: 0px !important;
      padding-bottom: 12px !important;
    }
    .main-content-heading h3 {
      font-size: 20px !important;
    }
    .main-content-heading  p {
      font-size: 13px !important;
    }
    .main-title::before {
      left: 37% !important;
    }
    .home-main-context {
      width: 100% !important;
    }
    .home-main-icons::before {
      width: 100% !important;
    }
    .join-context {
      border: none !important;
      background: white !important;
      margin-bottom: 100px !important;
      margin-top: 0px !important;
      border-radius: 0px !important;
    }
    .groups-section {
      padding-top: 40px !important;
      margin-bottom: 0px !important;
    }
    .form-group {
      padding-bottom: 0px !important;
    }
    .join-title {
      margin-top: 15px !important;
    }
    .login-context {
      width: 100% !important;
      border: none !important;
      background: white !important;
      margin-bottom: 100px !important;
      margin-top: 0px !important;
      border-radius: 0px !important;
      padding: 0px !important;
      padding-top: 30px !important;
    }
    .login-button-styles {
      margin-left: 15px !important;
    }
    /*.fa-search {
      position: relative !important;
      top: 26px !important;
    }*/
}