<section class="home-content">
  <!-- <div class="main-content-image">
    <div class="container">
      <div class="col-md-5 main-content-heading">
        <h3><b>Groups</b></h3>
        <p>Simple Hack to Increase Your Monthly Recurring Revenue</p>
      </div>
    </div>
  </div> -->

  <div class="container join-context">
    <div class="row algin-items">
      <div class="col-lg-10" style="text-align: center;">
        <h4>Available chit groups now. Please click join chit to go further.</h4>
      </div>
      <div class="col-lg-2 pull-right" style="display: flex; flex-direction: row-reverse;">
        <button type="button" routerLink ="/joinus" class="btn btn-warning">Join Chit</button>
      </div>
    </div>
    <div class="row">
      <div style="overflow-x:auto;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Chit Value</th>
              <th scope="col">Months</th>
              <th scope="col">Subscription</th>
              <th scope="col">Chit Number</th>
              <!-- <th scope="col">Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of chitData; let row_no = index">
              <th scope="row">{{row_no + 1}}</th>
              <td>{{data.chitvalue}}</td>
              <td>{{data.tenure}}</td>
              <td>{{data.subfee}}</td>
              <td>{{data.chitid.chitid}}</td>
              <!-- <td>
                <button type="button" (click)="joinChit(data._id)" class="btn btn-primary">Join Chit</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
