<div id="user-chits-component">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="row">
        <div class="col-lg-12">
          <h3>Manage User Chits</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Chit ID</th>
                <th>Active Members</th>
                <th>Max Members</th>
                <th>Chit Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userchit of userChits;let i=index">
                <template [ngTemplateOutlet]="loadTemplate(userchit)" [ngOutletContext]="{ $implicit: userchit, index: i }"></template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <template #readOnlyTemplate let-userchit let-index="index">
    <td>{{index+1}}</td>
    <td>{{userchit.userid.firstname +' '+ userchit.userid.lastname}}</td>
    <td>{{userchit.chit.chitid.chitid}}</td>
    <td>{{userchit.chit.activemembers}}</td>
    <td>{{userchit.chit.tenure}}</td>
    <td>{{userchit.chitstatus}}</td>
    <td style="width: 70px;">
      <i class="glyphicon glyphicon-edit pointer"
      (click)="editChit(userchit)" title="Edit"></i>
    </td>
  </template>
  <template #editTemplate let-userchit let-index="index">
      <td>{{index+1}}</td>
      <td>{{userchit.userid.firstname +' '+ userchit.userid.lastname}}</td>
      <td>{{userchit.chit.chitid.chitid}}</td>
      <td>{{userchit.chit.activemembers}}</td>
      <td>{{userchit.chit.tenure}}</td>
      <td>
        <select [(ngModel)]="selectedUserChit.chitstatus">
         <option value="false">false</option>
         <option value="true">True</option>
       </select>
      </td>
      <td>
        <i class="glyphicon glyphicon-ok pointer"
      (click)="updateUserChit()" title="Edit"></i>
      <i class="glyphicon glyphicon-remove pointer"
      (click)="cancel()" title="Delete"></i>
        <!-- <input type="button" value="Save" (click)="updateUserChit()" class="btn btn-success" /> -->
      </td>
      <td>
        <!-- <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" /> -->
      </td>
  </template>