<section class="home-content">
    <div class="main-content-image">
        <div class="container">
            <div class="col-md-4 main-content-heading">
                <h3><b>Lorem Ipsum</b></h3>
                <p>Simple Hack to Increase Your Monthly Recurring Revenue</p>
                <button class="btn btn-chit">Learn More</button>
            </div>
        </div>
    </div>
    <div class="container main-context">
        <div><h4 class="main-title center">Policies</h4></div>
        <div class="col-md-4 home-main-context">
            <div class="home-main-icons">
                <i class="fa fa-lock"></i>
                <p>Policy Name</p>
            </div>
            <p>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content. The Grid View control allows you to customize layouts of its visual elements using the template technology. This demo demonstrates the. evExpress Bootstrap Grid View is a full-featured tabular data presentation control that renders itself using Bootstrap CSS classes</p>
        </div>
        <div class="col-md-4 home-main-context">
            <div class="home-main-icons">
                <i class="fa fa-line-chart"></i>
                <p>Policy Name</p>
            </div>
            <p>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content. The Grid View control allows you to customize layouts of its visual elements using the template technology. This demo demonstrates the. evExpress Bootstrap Grid View is a full-featured tabular data presentation control that renders itself using Bootstrap CSS classes</p>
        </div>
        <div class="col-md-4 home-main-context">
            <div class="home-main-icons">
                <i class="fa fa-bar-chart"></i>
                <p>Policy Name</p>
            </div>
            <p>Bootstrap's grid system is responsive, and the columns will re-arrange depending on the screen size: On a big screen it might look better with the content. The Grid View control allows you to customize layouts of its visual elements using the template technology. This demo demonstrates the. evExpress Bootstrap Grid View is a full-featured tabular data presentation control that renders itself using Bootstrap CSS classes</p>
        </div>
    </div>
</section>