<section class="container-fluid transaction-section">
	<div class="container">
	<div class="row transaction-title"><h4>My Transactions</h4></div>
    <div class="row transaction-selectbox">
    	<div class="col-md-6">
	    	<div class="row">
	    		<div class="form-group">
				  <label class="control-label col-sm-3" for="chit">Select chit:</label>
				  <div class="col-sm-6">
				  <select class="form-control" id="chit" [ngModel]="selectedChitId" (ngModelChange)="onChangeChit($event)">
				    <option value="">Please select your chit</option>
				    <option *ngFor="let data of chitsData" [ngValue]="data">{{data.chit.chitid.chitid}}</option>
				  </select>
				</div>
				</div>
	    	</div>
    	</div>
    </div>
    <div class="row chits" *ngIf="showNoTransactionsText">
    	<h3>{{showNoTransactionsText}}</h3>
    </div>
    <div class="row transaction-selectbox">
    	<div class="col-md-6">
    		<div class="transaction-title" *ngIf="selectedChitsData.length"><h4>My Chit Details</h4></div>
	    	<div class="chit-details-section" id="chit-details-section" *ngFor="let data1 of selectedChitsData">
	    	<p><span class="chits-label col-sm-3">Chit Value:</span>{{data1.chit.chitvalue}}</p>
	    	<p><span class="chits-label col-sm-3">Tenure:</span>{{data1.chit.tenure}}</p>
	    	<p><span class="chits-label col-sm-3">Sub Fee:</span>{{data1.chit.subfee}}</p>
	    	<p><span class="chits-label col-sm-3">Start Date:</span>{{data1.chit.chitstartdate}}</p>
	    	<p><span class="chits-label col-sm-3">Pay Status:</span>{{data1.paystatus===true ? "Paid" : "Not Paid"}}</p>
	    	</div>
    	</div>
    	<div class="chit-status-section col-md-6" *ngIf="selectedChitsData.length">
	    	<div class="transaction-title" *ngIf="selectedChitsData.length"><h4>My Chit Status</h4></div>
	    	<table class="table table-hover">
					<thead>
					    <tr>
					        <td>Month</td>
					            <td>Payment Status</td>
					        </tr>
					</thead>
					<tbody>
					    <tr *ngFor="let data of selectedChitsData">
					        <td>{{data.chit.chitstartdate}}</td>
					        <td>
					           	<span *ngIf="data.paystatus == true">
					            	<a (click)="printReceipt()">Receipt</a>
					            </span>
					            <span *ngIf="data.paystatus == false">
					            	<a>Pay Now</a>
					            </span>
					        </td>
					    </tr>
					</tbody>
			</table>
	    </div>
    </div>
    </div>
</section>