  .transaction-title {
    color: #FF4537;
    background: #edeaea;
    text-align: center;
    margin-bottom: 20px;
  }
  .transaction-section {
    padding: 40px;
    // background: #dcdcda;
    /* background: #E7D4C8; */
    /* background: #fdecd0; */
    background: #f1e2cf;
  }
  .transaction-selectbox {
    margin-left: -30px;
  }
  .container {
    background: white;
    min-height: 450px;
    padding: 40px;
    border-radius: 15px;
  }
  .chit-details-section {
    padding-bottom: 20px;
    margin-left: -15px;
  }
  .control-label {
    font-size: 16px;
    padding-top: 4px;
  }
  table {
    border: 1px solid #cccccc;
    display: inline-table;
    margin-top: 15px;
  }
  thead {
    background-color: #FF4537;
    color: white;
  }
  tbody tr td {
    border-right: 1px solid #cccccc;
  }
  .chits-label {
    font-weight: bold;
  }
  .chits {
    text-align: center;
    padding: 50px;
    color: red;
    a {
      text-decoration: underline;
    }
  }
  

