<section class="container transaction-section">
	<div class="transaction-title"><h4>My Transactions</h4></div>
    <div class="row transaction-selectbox">
    	<div class="col-md-6">
    		<div class="form-group">
			  <label class="control-label col-sm-3" for="chit">Select chit:</label>
			  <div class="col-sm-6">
			  <select class="form-control" id="chit" [ngModel]="selectedChitId" (ngModelChange)="onChangeChit($event)">
			    <option value="">Please select your chit</option>
			    <option *ngFor="let data of chitsData" [ngValue]="data">{{data.name}}</option>
			  </select>
			</div>
			</div>
    	</div>
    </div>
    <div class="transaction-title" *ngIf="selectedChitsData.length"><h4>My Chit Details</h4></div>
    <div class="chit-details-section" *ngFor="let data1 of selectedChitsData">
    	<p><span>Chit Value:</span>{{data1.chitValue}}</p>
    	<p><span>Tenure:</span>{{data1.tenure}}</p>
    	<p><span>Sub Fee:</span>{{data1.fee}}</p>
    	<p><span>Start Date:</span>{{data1.startDate}}</p>
    </div>
    <div class="chit-status-section" *ngIf="selectedChitsData.length">
    	<table class="table table-hover">
				    <thead>
				        <tr>
				            <td>Month</td>
				            <td>Payment Status</td>
				        </tr>
				    </thead>
				    <tbody>
				        <tr *ngFor="let data of selectedChitsData">
				            <td>{{data.startDate}}</td>
				            <td>
				            	<span *ngIf="data.status == true">
				            		<a>Receipt</a>
				            	</span>
				            	<span *ngIf="data.status == false">
				            		<a>Pay Now</a>
				            	</span>
				            </td>
				        </tr>
				    </tbody>
				</table>
    </div>
</section>